# .env.example
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=webapp_db
MYSQL_USER=your_db_user_here
MYSQL_PASSWORD=your_db_password_here

S3_BUCKET_NAME=your_s3_bucket_name
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
SNS_TOPIC_ARN=arn:aws:sns:<your_aws_region>:<account_id>:user-verification-topic
APP_DOMAIN=your_domain_name

